.table-header {
    padding: 5px;
    background-color: yellow;
}
  
h1 {
      color: green;
      text-align: center;
}
  
body {
      font-family: Verdana;
      margin: auto;
}

table {
      margin: auto;
      border: 1px solid black;
      width: 650px;
}

.row-one {
      color: red;
}

.row-two {
      color: blue;
}

td {
	border: 20% dotted blue;
	padding: 5px;
}

th {
	border: 20% solid black;
	padding: 5px;
}
